* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background-color: #f2f6fc;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header span {
  font-size: 22px;
  color: #718096;
  padding: 10px 0;
}

body header h2 {
  color: #4a5568;
}

body header p {
  padding: 15px;
  font-size: 17px;
  text-align: center;
  color: #718096;
  max-width: 550px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

body main .card-1 {
  padding: 15px;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-top: 3px solid #68d391;
  max-width: 350px;
  max-height: 190px;
}

body main .card-1 h2 {
  color: #4a5568;
  font-size: 19px;
}

body main .card-1 p {
  padding: 10px 0;
  font-size: 16px;
  color: #718096;
}

body main .card-1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .card-1 div svg {
  width: 80px;
}

body main .containerCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body main .containerCards .card2 {
  padding: 15px;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-top: 3px solid #e53e3e;
  max-width: 350px;
  max-height: 190px;
}

body main .containerCards .card2 h2 {
  color: #4a5568;
  font-size: 19px;
}

body main .containerCards .card2 p {
  padding: 10px 0;
  font-size: 16px;
  color: #718096;
}

body main .containerCards .card2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .containerCards .card2 div svg {
  height: 50px;
}

body main .containerCards .card3 {
  padding: 15px;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-top: 3px solid #dd6b20;
  max-width: 350px;
  max-height: 190px;
}

body main .containerCards .card3 h2 {
  color: #4a5568;
  font-size: 19px;
}

body main .containerCards .card3 p {
  padding: 10px 0;
  font-size: 16px;
  color: #718096;
}

body main .containerCards .card3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .containerCards .card3 div svg {
  height: 50px;
}

body main .card4 {
  padding: 15px;
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-top: 3px solid #dd6b20;
  max-width: 350px;
  max-height: 190px;
}

body main .card4 h2 {
  color: #4a5568;
  font-size: 19px;
}

body main .card4 p {
  padding: 10px 0;
  font-size: 16px;
  color: #718096;
}

body main .card4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body main .card4 div svg {
  height: 50px;
}
/*# sourceMappingURL=styles.css.map */